<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container"
<div class="header">    </div>
<div class="main">
<section id="working" class="sec-working">
  <div class="container-fluid text-center">
    <h2 class="section-title">The way we work</h2>
    <div class="short-line"></div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-4">

          <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff3ppgg9nvj3074074aa3.jpg" >
          <h3>Reach</h3>
          <p>Enjoy better exposure to the right people with Young's
            <br>vast network of properties, partners and targeting capabilities.
          </p>

      </div>
      <div class="col-xs-12 col-sm-4">

          <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff3pprp0eoj307407474b.jpg" >
          <h3>Connections</h3>
          <p>Get closer to the candidates that interest you the most
            <br>with our smarter search and communications platform.</p>
        <!-- </div> -->
      </div>
      <div class="col-xs-12 col-sm-4">

          <img src="http://ww3.sinaimg.cn/large/006tNc79gy1ff3pq1g410j3074074jri.jpg" >
          <h3>Solutions</h3>
          <p>Develop critical insights and make better-informed decisions
            <br>with our powerful set of software, services and analytics.</p>
      
      </div>
    </div>
   </div>
  </section>
 </div>
</div>

  </body>
  </html>
