<%= render :partial => "jobs/search_bar" %>

 <div class="col-md-12">

   <% if @jobs.blank?%>
     <br>
     <h3 class="text-center">
       Opps! No jobs matched yet, please try again.
     </h3>
   <% else %>
     <h3 class="text-center" style="margin-top: 30px;">Total find <%= @jobs.count %> jobs</h3>
     <hr />
      <table class="table table-borderd">
           <% @jobs.each do |job| %>
       <%= link_to(render_highlight_content(job,@query_string),job_path(job)) %>
       <hr>
           <% end %>
       </table>
     <div class="text-center">
       <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
     </div>
   <% end %>
 </div>
