<div>

 <% if @jobs.blank? %>
   <br>
   <h3 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h3>
 <% else %>
   <h3 class="search-info-title"> 有关"<%= @query_string %>"的工作信息 </h3>

   <div class="search-result">

               <% @jobs.each do |job| %>
               <div class="pull-left">
                  <h3 ><%= link_to(render_highlight_content(job,@query_string),job_path(job)) %></h3>
                </div>
                
               <% end %>
    </div>

   <div class="text-center">
     <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
   </div>
     <% end %>
</div>
