<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
 <div class="container"
  <div class="header">
    <section class="intro">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="intro-content">
    <!-- <div class="jumbotron"> -->
        <h1>在海中游泳</h1>
        <p>海中人的精神家园，海南中学最大的学生论坛。</p>
        <p class="lead"><a class="btn btn-lg btn-info" href="/jobs">立即加入</a></p>
          </div>
        </div>
      </div>
    </section>
</div>
    <!--be a member -->
 <div class="main">
    <section class="sec-join">
      <h2 class="section-title">招聘要求</h2>
      <div class="short-line"></div>
      <p><strong>大鱼准备招各大版主，欢迎转发推荐。
        <br>我们对您的期望：</strong></p>
      <p>1.海中学生
        <br>2.热爱体育，不爱睡觉
        <br>3.工作经验：越少越好
        <br> 简历投递地址：自己琢磨
        <br>大鱼期待与您一起改变世界。
     </section>

    <!-- how young works for you -->
    <section class="sec-service">
      <div class="container-fluid text-center">
        <h2 class="section-title">大鱼在找你</h2>
        <div class="short-line"></div>
        <div class="row text-center">
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff148jmk3bj31kw11zkjp.jpg" >
              <p><strong>宽松的工作氛围</strong></p>
              <p>办公地点不限，除了业务，您一定不会劳心费神。

            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff14a5rwooj31kw11z4r2.jpg" >
              <p><strong>拥有一票奇妙的伙伴</strong></p>
              <p>酒席上最重要的不是有什么菜，而是和谁一起吃饭。

            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff14ajx0ohj31kw11xnpl.jpg" >
              <p><strong>自我提升的空间</strong></p>
              <p>作为一个正在成长的论坛，这里充满了不可预知的上升空间。

            </div>
          </div>
      </div>
    </div>
    </section>

    <!-- 轮播 -->
    <section class="sec-customers">
      <h2 class="section-title">大鱼和她的朋友们</h2>
      <div class="short-line"></div>
      <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

      	<ol class="carousel-indicators">
      		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      		<li data-target="#myCarousel" data-slide-to="1"></li>
      		<li data-target="#myCarousel" data-slide-to="2"></li>
      	</ol>

      	<div class="carousel-inner" role="listbox">
      		<div class="item active">
      		<h4>“大鱼，你必有一个锦绣的前程”。
            <br><img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff76b96zj3j30au09sdnv.jpg" class="img-circle">
            <br><span style="font-style:normal;">许岑，雅思名师</span></h4>
      		</div>
      		<div class="item">
      			 <h4>"One word... WOW!!"
               <br><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff2ii84erqj306p05tt8r.jpg" class="img-circle">
               <br><span style="font-style:normal;">Lufy，One Piece</span></h4>
      		</div>
      		<div class="item">
      			<h4>"Could I... BE any more happy with this ?"
              <br><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff2p7c7p2yj30i20jctja.jpg" class="img-circle">
              <br><span style="font-style:normal;">Chandler Bing, Firends</span></h4>
      		</div>
      	</div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
      </div>
    </section>

    <!-- Popular Job Categories -->
      <section class="sec-species">
          <div class="container-fluid text-center">
            <div class="row text-center">
            <div class="col-lg-12 ">
              <h2 class="section-title">热门版块</h2>
              <div class="short-line"></div>
    				</div>


            <div class="col-lg-12  clearfix" id="industries-galery">
              <div class=" col-xs-12 col-sm-4  col-lg-2 ">
                <img alt="icon information" src="http://ww4.sinaimg.cn/large/006tNc79gy1ff76o7lyedj30740740si.jpg">
                <h4><strong>信息</strong></h>
              </div>

              <div class="col-xs-12 col-sm-4  col-lg-2 ">
                <img alt="icon study" src="http://ww1.sinaimg.cn/large/006tNc79gy1ff76mz3x20j3074074mx0.jpg">
                <h4><strong>学术</strong></h4>
            </div>

              <div class="col-xs-12 col-sm-4  col-lg-2 ">
                <img alt="icon life" src="http://ww2.sinaimg.cn/large/006tNc79gy1ff5ptghbqoj3074074weo.jpg">
                <h4><strong>生活</strong></h4>
              </div>

              <div class="col-xs-12 col-sm-4  col-lg-2">
                <img alt="icon amusement" src="http://ww4.sinaimg.cn/large/006tNc79gy1ff76p9ysqhj3074074q2s.jpg">
                <h4><strong>娱乐</strong></h4>
              </div>

              <div class="col-xs-12 col-sm-4  col-lg-2 ">
                <img alt="icon club" src="http://ww4.sinaimg.cn/large/006tNc79gy1ff5pwat095j30740740st.jpg">
                <h4><strong>社团</strong></h4>
              </div>

              <div class="col-xs-12 col-sm-4  col-lg-2 ">
                <img alt="icon business" src="http://ww2.sinaimg.cn/large/006tNc79gy1ff3epr9hm9j3074074q2u.jpg">
                <h4><strong>交易<strong></h4>
              </div>
            </div>
       </div>
     </div>
   </section>
</div>
</div>

<footer class="text-center ">
  <hr>
    <p class="text-center"><%= link_to '联系我们', contact_path %>-<a href="#s">关于我们</a>-<a href="#s">加入我们</a>-<a href="#s">帮助中心</a>-<a href="#s">意见反馈</a>-<a href="#s">客户端下载</a>

      <br>  Design by xiaodanyang｜Copyright ©大鱼

    </p>
</footer>

</body>
</html>
