
<div class="jumbotron">
    <h1 class="title">ever youthful
     <br>
      ever weeping
    </h1>
    <h2 class="slogan">Young can help you find the best jobs, employers and career advice.
    </h2>
    <p class="lead"><a class="btn btn-lg btn-info" href="/jobs">马上应征</a></p>
</div>

<div class="box">
<h3>How Young Works for You</h3>
</div>

      <div class="col_third">
        <div class="hover panel">
          <div class="front">
            <div class="box1">
              <h2>Search millions of jobs</h2>
              <p>We've got more than 5 million of 'em—so you've got plenty of options. Plus, we'll send an alert when a good fit for you is posted.</p>
            </div>
          </div>
          <div class="back">
            <div class="box2">
              <p>If you're ready for a new challenging job, take a look at our Popular Job Locations and Job Titles. You can also take a look at Company Profiles or different types of careers. </p>
            </div>
          </div>
        </div>
		</div>

		<div class="col_third">
        <div class="hover panel">
          <div class="front">
            <div class="box1">
              <h2>Get discovered</h2>
              <p>Create an account and upload your resume to be found by the recruiters who search Monster's databases every day.</p>
            </div>
          </div>
          <div class="back">
            <div class="box2">
              <p>Before you submit another resume, make sure you’re using one of these recruiter-approved fonts.</p>
            </div>
          </div>
        </div>
		</div>

		<div class="col_third end">
        <div class="hover panel">
          <div class="front">
            <div class="box1">
              <h2>Be a better candidate</h2>
              <p>We've got your back. Our career advice, resume services and education partners give you a leg up in the job search.</p>
          <div class="back">
            <div class="box2">
              <p>Target and automatically send custom emails to qualified active and passive candidates, across Monster's talent database.</p>
            </div>
          </div>
        </div>
      </div>
