<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="jumbotron">
    <h4 class="slogan">You deserve a career you love.</h4>
    <p class="lead"><a class="btn btn-lg btn-info" href="/jobs">Join now</a></p>
</div>

<!--be a member -->
<section id="join" class="sec-join">
  <h2 class="section-title">Become a Member!</h2>
  <div class="short-line"></div>
  <p>We get it—looking for work is hard work. Let us make it easier for you.
    <br>Sign up for Monster, then upload your resume so recruiterscan
    <br>find you and so you can apply for jobs more quickly.
    <br> Plus you can get job alerts and helpful job content delivered to your inbox.
      <br>What are you waiting for?</p>
</div>

<!-- how young works for you -->
<section id="service" class="sec-service">
  <div class="container-fluid text-center">
    <h2 class="section-title">How Young Works for You</h2>
    <div class="short-line"></div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
          <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff148jmk3bj31kw11zkjp.jpg" >
          <p><strong>Search millions of jobs</strong></p>
          <p>We've got more than 5 million of 'em—so you've
            <br>got plenty of options. Plus,we'll send an alert
            <br> when a good fit for you is posted.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
          <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff14a5rwooj31kw11z4r2.jpg" >
          <p><strong>Get discovered</strong></p>
          <p>Create an account and upload your resume to
            <br>be found by the recruiters who search Monster's
            <br>databases every day.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
          <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff14ajx0ohj31kw11xnpl.jpg" >
          <p><strong>Be a better candidate</strong></p>
          <p>We've got your back. Our career advice, resume
             <br>services and education partners give you a leg
             <br>up in the job search.</p>
        </div>
      </div>
  </div>
</section>

<!-- 轮播 -->
<section id="customers" class="sec-customers">
  <h2 class="section-title">What our customers say</h2>
  <div class="short-line"></div>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  	<!-- 轮播指标 -->
  	<ol class="carousel-indicators">
  		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  		<li data-target="#myCarousel" data-slide-to="1"></li>
  		<li data-target="#myCarousel" data-slide-to="2"></li>
  	</ol>
  	<!-- 轮播项目 -->
  	<div class="carousel-inner" role="listbox">
  		<div class="item active">
  		<h4>"This company is the best. I am so happy with the result!"
        <br><img src="http://ww3.sinaimg.cn/large/006tNc79gy1ff2ohmsekdj30ok0t4kjl.jpg" class="img-circle">
        <br><span style="font-style:normal;">guominzheng, BNU University</span></h4>
  		</div>
  		<div class="item">
  			 <h4>"One word... WOW!!"
           <br><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff2ii84erqj306p05tt8r.jpg" class="img-circle">
           <br><span style="font-style:normal;">Lufy，One Piece</span></h4>
  		</div>
  		<div class="item">
  			<h4>"Could I... BE any more happy with this company?"
          <br><img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff2p7c7p2yj30i20jctja.jpg" class="img-circle">
          <br><span style="font-style:normal;">Chandler Bing, Firends</span></h4>
  		</div>
  	</div>
  	<!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
  </div>
</section>

<!-- Popular Job Categories -->
  <section id="industries" class="sec-industries">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 ">
          <h2 class="section-title">Popular Job Categories</h2>
          <div class="short-line"></div>
				</div>

        <div class="first-line"
        <div class="col-lg-12  clearfix" id="industries-galery">
          <div class=" col-xs-12 col-sm-4  col-lg-2 ">
            <div class="thumbnail">
            <img alt="icon Accounting" src="http://ww2.sinaimg.cn/large/006tNc79gy1ff3e3chvzdj3074074wea.jpg">
            </div>
            <h4><strong>Accounting</strong></h>
          </div>

          <div class="col-xs-12 col-sm-4  col-lg-2 ">
            <div class="thumbnail">
            <img alt="icon Engineering" src="http://ww2.sinaimg.cn/large/006tNc79gy1ff3eeacd95j3074074aa0.jpg">
            </div>
            <h4><strong>Engineering</strong></h4>
        </div>

          <div class="col-xs-12 col-sm-4  col-lg-2 ">
            <div class="thumbnail">
            <img alt="icon Healthcare" src="http://ww2.sinaimg.cn/large/006tNc79gy1ff3ep537yvj3074074glh.jpg">
            </div>
            <h4><strong>Healthcare</strong></h4>
          </div>

          <div class="col-xs-12 col-sm-4  col-lg-2">
            <div class="thumbnail">
            <img alt="icon Resourcesh" src="http://ww2.sinaimg.cn/large/006tNc79gy1ff3epr9hm9j3074074q2u.jpg">
            </div>
            <h4><strong>Resources</strong></h4>
          </div>

          <div class="col-xs-12 col-sm-4  col-lg-2 ">
            <div class="thumbnail">
            <img alt="icon Construction" src="http://ww1.sinaimg.cn/large/006tNc79gy1ff3e3fjzjcj3074074dfl.jpg">
          </div>
            <h4><strong>Construction</strong></h4>
          </div>

          <div class="col-xs-12 col-sm-4  col-lg-2 ">
            <div class="thumbnail">
            <img alt="icon IT" src="http://ww1.sinaimg.cn/large/006tNc79gy1ff3m3ktisdj3074074jrc.jpg">
          </div>
            <h4><strong>IT<strong></h4>
          </div>
        </div>

        <div class="second-line"
          <div class="col-lg-12  clearfix" id="industries-galery">
         <div class="col-xs-12 col-sm-4  col-lg-2 ">
         <div class="thumbnail">
         <img alt="icon Art" src="http://ww4.sinaimg.cn/large/006tNc79gy1ff3ajdjuupj303k03kdfm.jpg">
       </div>
         <h4><strong>Art<strong></h4>
       </div>

          <div class="col-xs-12 col-sm-4  col-lg-2 ">
            <div class="thumbnail">
            <img alt="icon Marketing" src="http://ww1.sinaimg.cn/large/006tNc79gy1ff3mw4qkayj3074074jra.jpg">
          </div>
            <h4><strong>Marketing<strong></h4>
          </div>

          <div class="col-xs-12 col-sm-4  col-lg-2 ">
            <div class="thumbnail">
            <img alt="icon Teaching" src="http://ww4.sinaimg.cn/large/006tNc79gy1ff3n5hdvpnj3074074gln.jpg">
          </div>
            <h4><strong>Teaching<strong></h4>
          </div>

          <div class="col-xs-12 col-sm-4  col-lg-2 ">
            <div class="thumbnail">
            <img alt="Design" src="http://ww1.sinaimg.cn/large/006tNc79gy1ff3nd8jt42j3074074q2y.jpg">
          </div>
            <h4><strong>Design<strong></h4>
          </div>

          <div class="col-xs-12 col-sm-4  col-lg-2 ">
            <div class="thumbnail">
            <img alt="icon Transportation" src="http://ww3.sinaimg.cn/large/006tNc79gy1ff3msriw5kj30740740sr.jpg">
          </div>
            <h4><strong>Transportation<strong></h4>
          </div>
          <div class="col-xs-12 col-sm-4  col-lg-2 ">
            <div class="thumbnail">
            <img alt="icon Alljobs" src="http://ww4.sinaimg.cn/large/006tNc79gy1ff3ngeuzf1j30740743yr.jpg">
          </div>
            <h4><strong>All jobs<strong></h4>
          </div>
        </div>
        </div>
      </div>
    </div>

</section>



</body>
</html>
