<footer class="container" style="margin-top: 100px;">
  <hr>
    <p class="text-center"><%= link_to '联系我们', contact_path %>-<a href="#s">关于我们</a>-<a href="#s">加入我们</a>-<a href="#s">帮助中心</a>-<a href="#s">意见反馈</a>-<a href="#s">客户端下载</a>
      <br>  Design by xiaodanyang｜Copyright ©大鱼


    </p>
</footer>
